
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
    font-family: 'Montserrat', sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
button, a {
    line-height: 1;
    cursor: pointer;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */
#root,
#__next {
  isolation: isolate;
}

.custom-container {
    width: 90%;
    /* -inline: 1rem; */
    margin: auto;
}
@media (min-width: 769px) {
    .custom-container {
        width: min(80%, 1280px);
    }
}

